<ion-view view-title="Bareingabe" > 
    <ion-content ng-controller="BareingabeCtrl">
        
         <div class="col" >
             <h4>Betrag eingeben: {{test}} </h4>
                   
        </div>
        
        <div class="row">
           
            <div class="col" align="left">
                
            <form id="page-form1" class="list ">
                <label class="item item-input"id="betrag-input">
                    <span class="input-label" align="left">Betrag:</span>
                    <input type="number" ng-model="Betrag"  placeholder="0.00 €">
                </label>
            </form>
            </div>
        </div>
        
        
        
        
        
    <div class="card">
        <div class="row">
            Kategorie ausw&auml;hlen:   {{selected}} 
           
        </div>
    <div class="item item-text-wrap">
        <div class="row">
            
        <div class="col" align="center">
            <a on-tap="toggleImage('Mobilitaet')"> <img  id="mobility" ng-src="{{imgURLmobility}}" ng-show="imgURLmobility" width="90%" height="90px"> </a>
            Mobilitaet
            
        </div>
        <div class="col" align="center">
            <a on-tap="toggleImage('Haushalt')"> <img id="household" ng-src="{{imgURLhousehold}}" ng-show="imgURLhousehold" width="90%" height="90px"> </a>
            Haushalt
        </div>
        <div class="col" align="center">
            <a on-tap="toggleImage('Kleidung')"> <img  id="clothing" ng-src="{{imgURLclothing}}" ng-show="imgURLclothing" width="90%" height="90px"> </a>
            Kleidung
        </div>
    </div>
        
    <div class="row">
        <div class="col" align="center">
            <a on-tap="toggleImage('Lebensmittel')"> <img  id="food" ng-src="{{imgURLfood}}" ng-show="imgURLfood" width="90%" height="90px"> </a>
            Essen
        </div>
        <div class="col" align="center">
            <a on-tap="toggleImage('Freizeit')"> <img  id="freetime" ng-src="{{imgURLfreetime}}" ng-show="imgURLfreetime" width="90%" height="90px"> </a>
            Freizeit
        </div>
        <div class="col" align="center">
            <a on-tap="toggleImage('Sonstiges')"> <img  id="sonstiges" ng-src="{{imgURLsonstiges}}" ng-show="imgURLsonstiges" width="90%" height="90px"> </a>
            Sonstiges
        </div>
    </div>
        </div>
        </div>
        
        <div class="card">
        
        <div class="row">
        <div class="col" align="center">
            
        <a on-tap="addUmsatz('+',Betrag,'Sonstiges','')"> <img src="./img/add1.svg" width="90px"> </a>

        </div>

        <div class="col" align="center">   
             <a on-tap="addUmsatz('-',Betrag,'Sonstiges','')"> <img src="./img/remove.svg" width="90px"> </a>
        </div>
            
    </div>
        
    </div>
        
        
        
      
    


   
    
  </ion-content>
</ion-view>