<html>
  <head>
    //<link rel="stylesheet"  type="text/css" href="../css/style.css"/>
   </head>
<body>
<ion-view view-title="Benachrichtigungen">
  <ion-content>
   <form>
  <h4>Benachrichtigung(en) jeden:</h4>
  <div class="list">
        
       <!-- Wochentage -->
        <ion-checkbox ng-model="item.mo" 
                      ng-checked="{{montag}}">
          Montag
        </ion-checkbox>
        
        <ion-checkbox ng-model="item.di" 
                      ng-checked="{{dienstag}}">
          Dienstag
        </ion-checkbox>
        
        <ion-checkbox ng-model="item.mi" 
                      ng-checked="{{mittwoch}}">
          Mittwoch
        </ion-checkbox>
        
        <ion-checkbox ng-model="item.do" 
                      ng-checked="{{donnerstag}}">
          Donnerstag
        </ion-checkbox>
        
        <ion-checkbox ng-model="item.fr" 
                      ng-checked="{{freitag}}">
          Freitag
        </ion-checkbox>
        
        <ion-checkbox ng-model="item.sa" 
                      ng-checked="{{samstag}}">
          Samstag
        </ion-checkbox>
        
        <ion-checkbox ng-model="item.so" 
                      ng-checked="{{sonntag}}">
          Sonntag
        </ion-checkbox>
  
    <!-- Uhrzeit einstellen -->
    <label class="item item-input item-select">
    <div class="input-label">
      Uhrzeit
    </div>
    <select ng-checked="time" ng-model="time">
      <option>01:00</option>
      <option>02:00</option>
      <option>03:00</option>
      <option>04:00</option>
      <option>05:00</option>
      <option>06:00</option>
      <option>08:00</option>
      <option>09:00</option>
      <option>10:00</option>
      <option>11:00</option>
      <option>12:00</option>
      <option>13:00</option>
      <option>14:00</option>
      <option>15:00</option>
      <option>16:00</option>
      <option>17:00</option>
      <option>18:00</option>
      <option>19:00</option>
      <option>20:00</option>
      <option>21:00</option>
      <option>22:00</option>
      <option>23:00</option>
      <option>00:00</option>
    </select>
  </label>
  <button ng-click="saveTage(item); saveUhrzeit(time)" class="button button-full button-dark"> 
       OK
    </button> 
    </div>
  </form>

  </ion-content>
</ion-view>


</body>
</html>