<html>
  <head>
    //<link rel="stylesheet"  type="text/css" href="../css/style.css"/>
   </head>
<body>
<ion-view view-title="Einstellungen">
  <ion-content>
   <ion-list>
     
    <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/app/einstellungen/benachrichtigungen">
      <img ng-src="../img/benachrichtigung.jpg" style="width: 100px; height: 100px">
      Benachrichtigungen
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    
    <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/app/einstellungen/passwortEinrichten">
      <img ng-src="../img/passwort.png" style="width: 100px; height: 100px">
      Passwort einrichten
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    
   </ion-list>
  </ion-content>
</ion-view>


</body>
</html>