<ion-view view-title="KontoHinzufuegen">
 <ion-content>
   <h1>Konto hinzufügen </h1>
  
     
     <form>
      <label class="item item-input">
        <input type="text" placeholder="IBAN" ng-model="konto.iban">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="BIC" ng-model="konto.bic">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Bankinstitut" ng-model="konto.insitut">
      </label>
      
      <button ng-click="save(konto)" class="button button-full button-dark"> 
          OK
      </button>
      
    </form>

  </ion-content>
</ion-view>

