<ion-view view-title="KontenVerwalten">
 <ion-content>
   <h1>Konten verwalten </h1>
   <a class="button button-icon icon ion-plus-circled" href="#/app/kontoHinzufuegen"></a>
    
    <ion-list>
         
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="konto in kontenliste" type="item-text-wrap" href="#/app/konten/{{konto.id}}"">  

        <h2>{{konto.bezeichnung}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>

