<ion-view view-title="KontoHinzufuegen">
 <ion-content>
   <h1>Konto hinzufügen </h1>
   
    <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="IBAN">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="BIC">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Bankinstitut">
    </label>
    <button class="button button-full button-dark"> 
        OK
   </button>
  </div>

  </ion-content>
</ion-view>