<ion-view view-title="Konto hinzufuegen">
 <ion-content>

     <form>
       <label class="item item-input">
        <input type="text" placeholder="Bezeichnung" ng-model="konto.bezeichnung">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="IBAN" ng-model="konto.IBAN">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="BIC" ng-model="konto.BIC">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Kontonummer" ng-model="konto.kontoNr">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Bankinstitut" ng-model="konto.bankInstitut">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Url für Icon" ng-model="konto.face">
      </label>
      <button ng-click="save(konto)" class="button button-full button-dark"> 
          OK
      </button>
      
    </form>

  </ion-content>
</ion-view>

