<html>
  <head>
    //<link rel="stylesheet"  type="text/css" href="../css/style.css"/>
   </head>
<body>
<ion-view view-title="Sicherheitswort einrichten">
  <ion-content>

   <form>
    <h4>  Sicherheitswort einrichten:</h4>
    <label class="item item-input">
      <input type="password" placeholder="Passwort" ng-model="konto.passwort">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Passwort bestätigen" ng-model="konto.passwort2">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="altes Passwort" ng-model="konto.altesPw">
    </label>
    <button ng-click="checkPw(konto)" class="button button-full button-dark"> 
       OK
    </button> 
   </form>
   Hinweis: Falls Sie bis jetzt noch kein Passwort eingerichtet haben, bei altes Passwort 'passwort' eintragen.

  </ion-content>
</ion-view>


</body>
</html>