<ion-view view-title="Statistik">
  <ion-content>
      <div>
        <div ng-controller="StatisticDetailController">
                <!-- Einbindung des Controllers um die scope Daten zu bekommen -->
            <h3><b>Umsätze pro Kategorie</b></h3>
            <p>Mobilität: {{sumM}} €</p>
            <p>Haushalt: {{sumH}} €</p>
            <p>Kleidung: {{sumK}} €</p>
            <p>Lebensmittel: {{sumL}} €</p>
            <p>Freizeit: {{sumF}} €</p>
            <p>Sonstige: {{sumS}} €</p>
                <!-- Umsatzliste pro Kategorie zeigt den absoluten Umsatz pro Kategorie und Konto -->
            <p>&nbsp;</p>
            <img ng-src="http://chart.apis.google.com/chart?chs=500x200&amp;cht=p3&amp;chd=t:{{sumM}},{{sumH}},{{sumK}},{{sumL}},{{sumF}},{{sumS}}&amp;chl=Mobilität|Haushalt|Kleidung|Lebensmittel|Freizeit|Sonstige&amp;chtt=Anteile nach Kategorien" style="width: 300px; height: 200px">
                <!-- Einbindung der Google Chart API -->
                <!-- Pie Chart zeigt, welchen Anteil die Kategorien am Gesamtumsatz haben -->
        </div>
      </div>
  </ion-content>
</ion-view>