<ion-view view-title="Statistik">
  <ion-content class="padding">
      <div>
        <div>
            <h3><b>Umsätze pro Kategorie</b></h3>
            <p>Mobilität: {{sumM}} €</p>
            <p>Haushalt: {{sumH}} €</p>
            <p>Kleidung: {{sumK}} €</p>
            <p>Lebensmittel: {{sumL}} €</p>
            <p>Freizeit: {{sumF}} €</p>
            <p>Sonstige: {{sumS}} €</p>
                <!-- Umsatzliste pro Kategorie zeigt den absoluten Umsatz pro Kategorie und Konto -->
            
            <h3><b>Einnahmen pro Kategorie</b></h3>
            <img ng-src="http://chart.apis.google.com/chart?chs=500x200&amp;cht=p3&amp;chd=t:{{plusM}},{{plusH}},{{plusK}},{{plusL}},{{plusF}},{{plusS}}&amp;chl=Mobilität|Haushalt|Kleidung|Lebensmittel|Freizeit|Sonstige&amp;chco=DA1A1A,000000,105BCD,20B007,610E6E,BCB307&amp;" style="width: 300px; height: 200px">
                <!-- Einbindung der Google Chart API -->
                <!-- Pie Chart zeigt, welchen Anteil die Kategorie an der Einnahmen haben -->
              
            <h3><b>Ausgaben pro Kategorie</b></h3>
            <img ng-src="http://chart.apis.google.com/chart?chs=500x200&amp;cht=p3&amp;chd=t:{{minusM}},{{minusH}},{{minusK}},{{minusL}},{{minusF}},{{minusS}}&amp;chl=Mobilität|Haushalt|Kleidung|Lebensmittel|Freizeit|Sonstige&amp;" style="width: 300px; height: 200px">
                <!-- Einbindung der Google Chart API -->
                <!-- Pie Chart zeigt, welchen Anteil die Kategorien am den Ausgaben haben -->          
        </div>
      </div>
  </ion-content>
</ion-view>>