<ion-view view-title="Detail: {{konto.bezeichnung}} {{kategorie}}">
  <ion-content>
    <div class="button-bar">
        <a class="button" href="#/app/umsatz/0/{{kategorie}}">Cash</a>
        <a class="button" href="#/app/umsatz/1/{{kategorie}}">Bankkonto</a>
        <a class="button" href="#/app/umsatz/2/{{kategorie}}">Gesamt</a>
    </div>
    <ion-list>
      <ion-item ng-repeat="position in umsatzlist" href="">
        <div style="display:block; text-align:left; float:left;">{{position.datum}} <br> {{position.beschreibung}} </div>
        <div style="display:block; text-align:right;">{{position.betrag}} €</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>