<ion-view view-title="Umsatz">
  <ion-content>
    <div class="button-bar">
        <a class="button">KontaA</a>
        <a class="button">KontoB</a>
        <a class="button">KontoC</a>
    </div>
    Summe der Gutschriften: <br>
    Summe der Abzuege: <br>
    Saldo: <br>
    
    <div class="row">
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
    </div>
   
    
    </ion-content>
</ion-view>