<ion-view view-title="Umsatz {{konto.bezeichnung}}">
  <ion-content>
    <div class="row">
        <div class="col">
            <div ng-if="konto.id=='0'"><a class="button button-full button-positive" href="#/app/umsatz/0" >Cash</a></div>
            <div ng-if="konto.id!='0'"><a class="button button-full button-stable" href="#/app/umsatz/0">Cash</a></div>
        </div>
        <div class="col">
            <div ng-if="konto.id=='1'"><a class="button button-full button-positive" href="#/app/umsatz/1">Bankkonto</a></div>
            <div ng-if="konto.id!='1'"><a class="button button-full button-stable" href="#/app/umsatz/1">Bankkonto</a></div>
        </div>
        <div class="col">
            <div ng-if="konto.id=='2'"><a class="button button-full button-positive" href="#/app/umsatz/2">Gesamt</a></div>
            <div ng-if="konto.id!='2'"><a class="button button-full button-stable" href="#/app/umsatz/2">Gesamt</a></div>
        </div>
    </div>
    
    <div class="card">
        <div class="row">   
        <div class="col" style="color:#00FF00; text-align: center;">+ {{konto.bezuegebetragOTF}} €</div>
        <div class="col" style="color:#FF0000; text-align: center;">{{konto.abzuegebetragOTF}} €</div>
        <div class="col" style="text-align: center;">= {{konto.gesamtbetragOTF}} €</div>
        </div>
    </div>
    
    <div class="card">
        <div class="row" display="inline">
            Kategorie ausw&auml;hlen:
        </div>
    <div class="item item-text-wrap">
        <div class="row">
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Mobilitaet" class="button button-icon">
                    <img src="./img/mobility_off.svg" width="80px" >
                
                Mobilitaet
                </a>    
            </div>
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Haushalt" class="button button-icon">
                    <img src="./img/household_off.svg" width="80px">
                Haushalt
                </a>    
            </div>
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Kleidung" class="button button-icon">
                    <img src="./img/clothing_off.svg" width="80px">
                
                Kleidung
                </a>    
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Lebensmittel" class="button button-icon">
                    <img src="./img/food_off.svg" width="80px">
                
                Essen
                </a>    
            </div>
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Freizeit" class="button button-icon">
                    <img src="./img/freetime_off.svg" width="80px">
                
                Freizeit
                </a>    
            </div>
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Sonstiges" class="button button-icon">
                    <img src="./img/sonstiges_off.svg" width="80px">
                
                Sonstiges
                </a>    
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <a href="#/app/umsatz/{{konto.id}}/Gesamt" class="button button-icon">
                    <img src="./img/gesamt-icon.png" width="100%">
                </a>
            </div>
        </div>
        </div>
    </div>
    
    </ion-content>
</ion-view>