<ion-view view-title="Umsatz {{konto.bezeichnung}}">
  <ion-content>
    <div class="button-bar">
        <a class="button" href="#/app/umsatz/0">Cash</a>
        <a class="button" href="#/app/umsatz/1">Bankkonto</a>
        <a class="button" href="#/app/umsatz/2">Gesamt</a>
    </div>
    
    
    <div class="row">
        <div class="col" style="color:#00FF00; text-align: center;">Bezug {{konto.bezuegebetragOTF}}</div>
        <div class="col" style="color:#FF0000; text-align: center;">Abzug {{konto.abzuegebetragOTF}}</div>
        <div class="col text-align: center;">Ges {{konto.gesamtbetragOTF}}</div>
    </div>
    <br>
    
    <div class="row">
        <div class="col">
            <a href="#/app/umsatz/0/Mobilitaet" class="button button-icon">
                <img src="../img/mobilitaet-icon.png" width="80px">
            <br>
            Mobilitaet
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/undef-icon.png" width="80px">
            <br>
            Haushalt
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/undef-icon.png" width="80px">
            <br>
            Kleidung
            </a>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/undef-icon.png" width="80px">
            <br>
            Lebensmittel
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/undef-icon.png" width="80px">
            <br>
            Freizeit
            </a>    
        </div>
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/undef-icon.png" width="80px">
            <br>
            Sonstiges
            </a>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="" class="button button-icon">
                <img src="../img/gesamt-icon.png" width="320px">
            </a>
        </div>
    </div>
   
    
    </ion-content>
</ion-view>